body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

#viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 9999;
}

#gif {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
